.page-main {
  margin-bottom: 40px;
}

.page-main__title {
  @include bold-text();
  @include reset-margin-padding;
  text-align: center;
  background-color: $light-grey;
  padding-top: 71px;
  padding-bottom: 76px;
  margin-bottom: 25px;
}

.page-main__description {
  font-size: 13px;
  text-align: left;

  margin-bottom: 26px;
}

@media screen and (min-width: $tablet-width) {
  .page-main {
    margin-bottom: 57px;
  }

  .page-main__title {
    position: relative;

    z-index: -1;

    margin-top: -55px;
    margin-bottom: 79px;
    padding-top: 95px;
    padding-bottom: 80px;

    font-size: 43px;
    line-height: 50px;
    color: $color-black;

    &::after {
      content: "";
      position: absolute;

      left: 0;
      bottom: -20px;

      width: 100%;
      height: 30px;

      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-main__description {
    font-size: 17px;
    line-height: 30px;

    margin-top: -5px;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-main {
    margin-bottom: 50px;
  }

  .page-main__title {
    margin-top: -54px;
    margin-bottom: 128px;
    padding-top: 94px;
    padding-bottom: 105px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      bottom: -25px;

      height: 42px;
    }
  }

  .page-main__description {
    width: 672px;

    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
  }
}
