.product-card__image img {
  display: block;
}

.product-card__info {
  width: 258px;

  border: 1px solid $light-grey-border;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__title {
  @include reset-margin-padding;
  margin-top: 25px;
  margin-left: 28px;
  margin-bottom: 8px;
}

.product-card__title-link {
  @include bold-text(17px, 24px);
  color: $color-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__property {
  font-size: 13px;

  margin-top: 0;
  margin-left: 28px;
  margin-bottom: 45px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;

  position: relative;

  margin-bottom: 25px;

  &::after {
    content: "";
    position: absolute;

    left: 50%;
    margin-left: -100px;
    top: -22px;

    width: 200px;
    height: 1px;

    background-color: $light-grey-border;
  }
}

.product-card__price-value {
  @include bold-text(15px, 24px);
  color: $color-black;

  margin-left: 28px;
}

.product-card__price-button {
  margin-right: 25px;
  opacity: 0.2;

  &:hover {
    fill: $seafoam-blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .product-card {
    display: flex;
  }

  .product-card__image {
    width: 334px;
    height: 334px;

    background-color: $color-white;
  }

  .product-card__info {
    display: flex;
    flex-direction: column;

    width: 335px;
  }

  .product-card__title {
    margin-bottom: 4px;
  }

  .product-card__title-link {
    font-size: 20px;
  }

  .product-card__property {
    font-size: 15px;
    line-height: 30px;
  }

  .product-card__price-value {
    font-size: 17px;
  }

  .product-card__price {
    margin-top: auto;

    &::after {
      margin-left: -135px;

      width: 270px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
  }

  .product-card__image {
    display: block;
    width: 316px;
    height: 462px;

    background-color: $color-white;
  }

  .product-card__info {
    flex-grow: 1;

    width: 314px;
  }

  .product-card__title {
    margin-bottom: 4px;
  }

  .product-card__property {
    margin-bottom: 35px;
  }
}
