.page-footer {
  background-color: $light-grey;
}

.page-footer__logo {
  display: none;

  &:hover,
  &:focus {
    fill: $seafoam-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 51px;
    padding-bottom: 35px;
  }

  .page-footer__logo {
    display: block;

    @include reset-margin-padding;
  }
}
